.divPrinc{
    display: grid;
    grid-template-columns: auto auto auto auto;
}





.tarj {
    position:relative;
    width: 300px;
    height: 400px;
    background: rgb(26, 25, 25);
    border-radius: 10px;
    background: rgba(250, 248, 248, 0.678);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(15px); */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
   
  }
 
  .imgbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(30px) scale(0.5);
    transform-origin: top;
  }
   
  .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
  }
  
  .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .content .detail h2 {
    color: black;
    font-size: 1.4em;
    font-weight: bolder;
  }
  
  .cerrar{
    background-color: #f31d1d;
  border: none;
  color: rgb(15, 15, 15);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;  
  cursor: pointer;
  
  }